---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Metrics from '../components/Metrics.astro';
import Services from '../components/Services.astro';
import Products from '../components/Products.astro';
import Projects from '../components/Projects.astro';
import Research from '../components/Research.astro';
import Partnerships from '../components/Partnerships.astro';
import Writing from '../components/Writing.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <About />
    <Metrics />
    <Services />
    <Products />
    <Projects />
    <Research />
    <Partnerships />
    <Writing />
    <Contact />
  </main>
  <Footer />
</Layout>
